/* GLOBAL */
body {
  background-color: #0d0d0d;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding-top: 20px;
}

.title {
  text-align: center;
  color: #ff0000;
  margin-bottom: 20px;
}

/* CARD */
.card {
  background: #1a1a1a;
  border: 1px solid #ff0000;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 8px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-title {
  margin-bottom: 10px;
  color: #ff4444;
}

.input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #666;
  background: #111;
  color: white;
}

/* BUTTONS */
.btn {
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 5px;
}

.btn-red {
  background: #ff1a1a;
  color: white;
  border: 1px solid #ff4d4d;
}

.btn-red:hover {
  background: #cc0000;
}

.btn-white {
  background: white;
  color: black;
}

.btn-white:hover {
  background: #e6e6e6;
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #ff0000;
  color: white;
  padding: 10px;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

/* LOW STOCK HIGHLIGHT */
.low-stock {
  background: #660000 !important;
}
